.sidebarOverlay {
  height: 30vh;
  background: white;
  width: 50%;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 7rem auto;
}

.sidebarModalContainer {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  width: 50vw;
  align-items: center;
  margin: 0 auto;
}

.sidebar-modal-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

.sidebar-modal-p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}

.sidebar-modal.close {
  align-self: center;
  width: 3rem;
}
